html, body{

  width: 100%;
  height: 100%;

}


body {



}


  header {

    background-color: grey;
    width: 100%;
    margin: auto;
    height: 20%;

    text-align: center;

display: flex;
justify-content: center;
align-items: center;



  }



#trabajos {

background-color: blue;

height: 50%;
width:35%;


top: 25%;
left:50%;

transform: translateX(0%,50%);

margin:auto;


}

#informacion {
  background-color: yellow;

  height: 25%;
  width:65%;

  height: 20%;
  width:35%;


  top: 25%;
  left:50%;

  transform: translateX(0%,50%);

  margin:auto;


}

#caja1:hover {
  background-color: yellow;
    font-size: 110%;
    width: 32%;
      height: 67%;
        text-align: center;
}
#caja2:hover {
  background-color: red;
  font-size: 110%;
  width: 32%;
    height: 67%;
      text-align: center;
}
#caja3:hover {
  background-color: yellow;
  font-size: 110%;
  width: 32%;
    height: 67%;
      text-align: center;

}


#barra {

  background-color: purple;
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 50%;
  margin: auto;

  height: 100%;


}

  nav {

    background-color: purple;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    margin: auto;

    height: 10%;

  }

#caja1 {
  text-align: center;
  background-color: red;
  width: 30%;
  height: 65%;

}

#caja2{
text-align: center;
background-color: yellow;

width: 30%;
  height: 65%;
}

#caja3 {
text-align: center;
background-color: blue;
width: 30%;
  height: 65%;
  }

#sectionDemoreel {

display: flex;

justify-content: center;
align-items: center;

text-align: center;



}

#trabajosDemoreel {

display: flex;
justify-content:center;
align-items: center;
background-color: red;

height: 70%;
width: 70%;

}

section {

      background-color: white;


      width: 100%;

      height: 100%;



}

#sectionPW {
background-color: black

height:100%;
width:100%;




}

#arriba {
display:flex;
justify-content: space-around;
align-items: center;
background-color: white;
height:50%;
width:100%;
}

#abajo {

  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height:50%;
  width:100%;
}

#trabajo1 {

height:50%;
width: 20%;
background-color:green;

}


#trabajo2 {

height:50%;
width: 20%;
background-color:blue;

}


#trabajo3 {

height:50%;
width: 20%;
background-color:yellow;

}


#trabajo4 {

height:50%;
width: 20%;
background-color:blue;

}



#trabajo5 {

height:50%;
width: 20%;
background-color:red;

}



footer {


      background-color: purple;


      width: 100%;

      height: 15%;

  top: 100%
  left:100%

  transform: translateX(0%,0);



}
